body{
    margin: 0;
    padding: 0;
}

caption{
    margin-top: 80px;
}
table,tr,th,td{
    border: 3px solid black;
    margin-top: 70px;
    margin-left: 50px;
}

table{
    
    border-collapse: collapse;
    width: 50%;
}

tr:hover{
      background-color: rgb(207, 204, 204);
}

th,td{
    padding: 15px;
    text-align: center;
}

nav ul{
    display: flex;
    margin-top: 0;
    background-color: rgb(2, 102, 102);
}

nav li{
    list-style: none;
    margin-right: 20px;
    padding: 5px;

}

a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: 0.2s;
}

a:hover{
    color: darkgoldenrod;
}


